.header-banner{
    width:auto;
    height:500px;
    background:url("./img/banner_WhatIs.png") center center / auto 300% no-repeat;
}

.back_btn{
    /* border:1px solid black; */
    display: flex;
    align-items: center;
    width: 90px;
    height: 30px;
    margin-top: 32px;
    margin-bottom: 42px;
}

.icon-back{
    width:30px;
    height:30px;
    background:url("../../components/img/Back_btn.svg");
}

.icon-text{
    margin-left: 8px;
}

.whatIs-content h1{
    margin-bottom: 24px;
}

.whatIs-content img{
    margin-top: 32px;
    margin-bottom: 32px;
    border-radius:10px;
}

.whatIs-text{
    margin-top: 32px;
    margin-bottom: 32px;
}

.margin-whatIs-block{
    margin-top: 80px;
    margin-bottom: 80px;
}


@media (max-width: 1440px) {

    .header-banner{
        background-position:center center;
        background-repeat: no-repeat;
        background-size: auto 150%;
    }

}

@media (max-width: 1024px) {

    .header-banner{
        
    }

}

@media (max-width: 768px) {

    .header-banner{
        background-position:center center;
        background-repeat: no-repeat;
        background-size: auto 100%;
    }

}

@media (max-width: 425px) {

    .header-banner{
        
    }

}

@media (max-width: 375px) {

    .header-banner{
        
    }

}

@media (max-width: 320px) {

    .header-banner{
        
    }

}