
.TextImgBox-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center; 
}

.TextImgBox-text{
    width:50%;
    margin-right:32px;
}

.TextImgBox-img{
    width:50%;
    height:640px;
    background:url("../../pages/main/img/about.png") center center / auto 100% no-repeat ;
}




@media (max-width: 1440px) {

    .TextImgBox-img{
        width:50%;
        height:640px;
        background:url("../../pages/main/img/about.png") 0px center / auto 100% no-repeat ;
    }

}

@media (max-width: 1024px) {
    
   

}

@media (max-width: 768px) {


    .TextImgBox-content{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items:center; 
    }

    .TextImgBox-img{
        width:100%;
        height:640px;
        background:url("../../pages/main/img/about.png") center center / auto 100% no-repeat ;
    }

    .TextImgBox-text{
        width:auto;
        margin-right:0px;
    }


}

@media (max-width: 540px) {

}

@media (max-width: 425px) {

}

@media (max-width: 375px) {

}

@media (max-width: 320px) {

} 