.contentBanner{
  display: flex;
  flex-direction: row;
  background-color:#F5F3ED;
  min-height:100vh ;
  width:100vw;
}

.bannerMainBox{
  border:1px solid red;
  width:50vw;
  height:100vh;
  /* min-height:100vh; */
 
  /* background:#F5F3ED; */
  /* display: flex; */
  /* flex-direction: row; */

  background-image: url('./img/face_main_banner.png');
  background-size: auto 100%;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-position: 25% center;

}

.textBannerContainer{
  border:1px solid orange;
  width:450px;
  /* height:200px; */
  align-self: center;
  /* position: absolute; */
  /* top:calc(100vh / 3); */
  /* left:50%; */
}

.textMainBanner p{
  margin-top:16px;
  margin-bottom:16px;
}

.textMainBanner{
  margin-bottom:16px;
}

.bodyMainContent{
  max-width: 1330px;
  height:1000px;
  background:green;
  margin:auto;
  padding-left:0px;
  padding-right:0px;
  padding-bottom:16px;
  padding-top:16px;
}

.callBackBanner{
  /* border:1px solid red; */
  /* float:left; */
}

.btnSingUpMainBanner{
  width:180px;
  height:40px;
  margin-top:13px;
  background-image:url(../../components/img/btnSingUp.svg);
  cursor:pointer;
}










@media (max-width: 1440px) {

  .bannerMainBox{
    background-image: url('./img/face_main_banner.png');
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: 30% center;
  
  }

}

@media (max-width: 1024px) {

  .contentBanner{
    flex-direction: column;
  }

  .textBannerContainer{
    align-self: flex-start;
    width:auto;
    margin:16px;
  }

  .bannerMainBox{
    width:100vw;
  }

}

@media (max-width: 768px) {

  .contentBanner{
    flex-direction: column;
  }

  .textBannerContainer{
    align-self: flex-start;
    width:auto;
    margin:16px;
  }

  .bannerMainBox{
    width:100vw;
  }

}

@media (max-width: 425px) {

  .contentBanner{
    flex-direction: column;
  }

  .textBannerContainer{
    align-self: flex-start;
    width:auto;
    margin:16px;
  }

  .bannerMainBox{
    width:100vw;
  }

}

@media (max-width: 375px) {

  .contentBanner{
    flex-direction: column;
  }

  .textBannerContainer{
    align-self: flex-start;
    width:auto;
    margin:16px;
  }

  .bannerMainBox{
    width:100vw;
  }

}

@media (max-width: 320px) {

  .contentBanner{
    flex-direction: column;
  }

  .textBannerContainer{
    align-self: flex-start;
    width:auto;
    margin:16px;
  }

  .bannerMainBox{
    width:100vw;
  }

}