
.bannerMainBox{
  width:auto;
  min-height:100vh;
  background:#F5F3ED;
  border:1px solid red;
  display: flex;
  flex-direction: row;
}

.imgBanner{
  width:1100px;
  height:100vh;
  border:1px solid green;
  background-image: url('./img/face_main_banner.png');
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: -150px 0px
}

.textBannerContainer{
  border:1px solid orange;
  width:517px;
  /* height:200px; */
  align-self: center;
}

.textBannerContainer p{
  margin-top:16px;
  margin-bottom:16px;
}

.bodyMainContent{
  max-width: 1330px;
  height:1000px;
  background:green;
  margin:auto;
  padding-left:0px;
  padding-right:0px;
  padding-bottom:16px;
  padding-top:16px;
}

.callBackBanner{
  border:1px solid red;
}

@media (max-width: 1330px) {

  .bodyMainContent{
    padding:16px;
  }

}

@media (max-width: 768px) {

  .bodyMainContent{
    padding:16px;
  }

}


@media (max-width: 540px) {

  .bodyMainContent{

  }

}
