
.bannerMainBox{
  width:auto;
  height:1000px;
  /* min-height:100vh; */
  background:#F5F3ED;
  border:1px solid red;
}

.imgBanner{
  width:500px;
  height:500px;
  border:1px solid green;
  background-image: url('/img/face_main_banner.png');
  background-size: 50%;
}

.bodyMainContent{
  max-width: 1330px;
  height:1000px;
  background:green;
  margin:auto;
  padding-left:0px;
  padding-right:0px;
  padding-bottom:16px;
  padding-top:16px;
}

@media (max-width: 1330px) {

  .bodyMainContent{
    padding:16px;
  }

}

@media (max-width: 768px) {

  .bodyMainContent{
    padding:16px;
  }

}


@media (max-width: 540px) {

  .bodyMainContent{

  }

}
