
.content-box{
    width:auto;
    /* height:100vh; */
    background: #F5F3ED;

    display:flex;
    flex-direction: row;
}

.img-box{
    background: url("./img/face_main_banner.png") 20% center / auto 100% no-repeat; 
    width:50vw;
    min-height:100vh;

}

.text-box{
    /* background: rebeccapurple;     */
    width:50vw;
    display: flex;
}

.cont-text{
    max-width: 650px;
    align-self: center;
}

@media (max-width: 1440px) {

    .img-box{
        background: url("./img/face_main_banner.png") 30% center / auto 100% no-repeat; 
        width:50vw;
        min-height:100vh;
    
    }

}

@media (max-width: 1024px) {

    .img-box{
        background: url("./img/face_main_banner.png") 32% center / auto 100% no-repeat; 
        width:50vw;
        min-height:70vh;
    
    }

}

@media (max-width: 768px) {


}

@media (max-width: 540px) {

    .content-box{
        width:auto;
        /* height:100vh; */
        background: #F5F3ED;
    
        display:flex;
        flex-direction: column;
    }

    .img-box{
        background: url("./img/face_main_banner.png") 25% center / auto 100% no-repeat; 
        width:100vw;
        min-height:70vh;
    
    }

    .text-box{
        /* background: rebeccapurple;     */
        width:100vw;
        display: flex;
    }

}

@media (max-width: 425px) {


}

@media (max-width: 375px) {

}

@media (max-width: 320px) {

}