.bgPopUp{
  position: absolute;
  width:100vw;
  height:100vh;
  /* left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%; */
  z-index: 1;

  background: rgba(196, 196, 196, 0.5);

  backdrop-filter: blur(10px);
  -moz-backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  -o-backdrop-filter: blur(10px);
  -ms-backdrop-filter: blur(10px);

}





@media screen and (max-width: 540px) {

  .popUpContainer{
    position: absolute;
    z-index: 1;
    width: 280px !important;
    margin-left:-140px !important;
    left:50%;
  }

  .crossClosed{
    left: 90% !important;
    top: 4% !important;
  }

  .containerButton{
    display: flex;
    align-items: center;
    flex-direction:column;
  }

  .containerButton p{
    text-align: center !important;
  }

  .messageBox{
    border-bottom: 1px solid rgba(82, 88, 98, 0.1);
    border-right: 0px solid rgba(82, 88, 98, 0.1) !important;
    margin-bottom:24px;
    padding-bottom:24px;
    display: flex;
    justify-content: center
  }

  .left{
    width:100% !important;
  }

  .right{
    width:100% !important;
  }

  .margin{
    margin-left:0px !important;
  }

  .popUpText{
    text-align: center;
  }

}






.popUpContainer{
  position: absolute;
  z-index: 1;
  width: 540px;
  margin-left:-270px;
  left:50%;
}

.popUpBlock{
  background: #F5F3ED;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);

  padding-top:40px;
  padding-left:45px;
  padding-right:45px;
  padding-bottom:40px;
}

.popUpContent{

}

.crossClosed{
  position: absolute;
  cursor:pointer;
  width:13px;
  height:13px;
  left: 95%;
  top: 5%;
  background-image:url(../img/crossClosed.svg);
  background-size: 100%;
}

.containerButton p{
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  /* text-align: left; */
  color: #525862;
}

.containerButton{
  display: flex;
}



.inlineBlock{
  display: inline-block;
}

.left{
  width:225px;
}


.right{
  width:225px;
}

.margin{
  margin-left:45px;
}


.singUp{
  width:180px;
  height:40px;
  margin-top:13px;
  background-image:url(../img/btnSingUp.svg);
}

.messageBox{
  border-right: 1px solid rgba(82, 88, 98, 0.1);
  display: flex;
  flex-direction:row;
}

.whatsapp{
  width:40px;
  height:40px;
  margin-top:13px;
  background-image:url(../img/whatsapp.svg);
  background-size: 98%;
  background-repeat: no-repeat;
}

.telegram{
  width:40px;
  height:40px;
  margin-top:13px;
  background-image:url(../img/telegram.svg);
  background-size: 98%;
  background-repeat: no-repeat;
}

.viber{
  width:40px;
  height:40px;
  margin-top:13px;
  background-image:url(../img/viber.svg);
  background-size: 96%;
  background-repeat: no-repeat;
}

.popUpText{
  text-align: left;
}






/* Class for test mock up site */
.BGtest{
  background-image: url("mainPage.png");
  background-size: 100%;
  background-repeat: no-repeat;
  height: 2950px;
  overflow: hidden;
}
