

.footerContainer{
  background-color: grey ;
}

@media (max-width: 768px) {

    .footerContainer{
    background-color: orange !important;
    }

}

@media (max-width: 450px) {

    .footerContainer{
      background-color: red !important;
    }

}
