.card{
    
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    padding:32px 40px 32px 40px;
    background: #F5F3EE;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
    border-radius: 10px;



    /* width:350px; */
    /* height:280px; */
    width:auto;
    height:auto;
}

.card:hover{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}

.card_more{
   
} 

.text_card{
    /* border:1px solid #260ff7; */
    /* height:176px; */
    overflow: hidden;
    text-overflow: ellipsis;
}




@media (max-width: 1440px) {

}

@media (max-width: 1024px) {

}

@media (max-width: 768px) {

    .card{
    
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        padding:32px 40px 32px 40px;
        background: #F5F3EE;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
        border-radius: 10px;
        margin-top: 3px;
        margin-bottom: 3px;
    
    
        /* width:350px; */
        /* height:280px; */
        width:60vw;
        height:auto;
    }

}

@media (max-width: 425px) {


    .card{
    
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        padding:32px 40px 32px 40px;
        background: #F5F3EE;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
        border-radius: 10px;
        margin-top: 3px;
        margin-bottom: 3px;
    
    
        /* width:350px; */
        /* height:280px; */
        width:60vw;
        height:auto;
    }

}

@media (max-width: 375px) {


    .card{
    
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        padding:32px 40px 32px 40px;
        background: #F5F3EE;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
        border-radius: 10px;
        margin-top: 3px;
        margin-bottom: 3px;
    
    
        /* width:350px; */
        /* height:280px; */
        width:60vw;
        height:auto;
    }

}

@media (max-width: 320px) {


    .card{
    
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        padding:32px 40px 32px 40px;
        background: #F5F3EE;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
        border-radius: 10px;
        margin-top: 3px;
        margin-bottom: 3px;
    
    
        /* width:350px; */
        /* height:280px; */
        width:60vw;
        height:auto;
    }

}