.menuContainer{
  position: absolute;
  /* background-image:url(img/DEREVYANSKAYA.svg); */

  background: linear-gradient(180deg, #F5F3ED 0%, rgba(245, 243, 237, 0) 100%);
  /* border:1px solid red; */
  height:150px;
  left:0;
  right:0;
}

.menuContent{
  border:1px solid orange;
  display:flex;
  justify-content: space-between;
  flex-direction:row;
  align-items:center;
  position:relative;
  max-width:1330px;
  margin: auto;
  top:13px;
}


.logoBox{
  border:1px solid green;
  background-image:url(img/DEREVYANSKAYA.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  width:216px;
  min-width:130px;
  height:40px;
}

.itemBox{
  border:1px solid red;
  display: flex;
  flex-direction:row;
  align-items:center;
  /* width:400px; */
  height:40px;
}

ul{
  text-decoration: none;
  display:flex;
  }

li{
  list-style-type: none;
  margin-left: 50px;
  /* margin-top: 10px; */
  }

.mobileMenu{
  border:1px solid red;
  display: inline-block;
  float:right;
  width:20px;
  height:16px;
  margin-left: 20px;
  background-image:url(img/mobileMenu.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
