.menuContainer{
  position: absolute;
  /* background-image:url(img/DEREVYANSKAYA.svg); */

  background: linear-gradient(180deg, #F5F3ED 0%, rgba(245, 243, 237, 0) 100%);
  /* border:1px solid red; */
  padding-top:16px;
  padding-left:16px;
  padding-right:16px;
  height:150px;
  left:0;
  right:0;
}

.popUpMenuContainer{
margin-top: 58px;
/* top:58px; */
position: absolute;
/* height: 215px; */
/* width: 345px; */
text-align: right;
padding:24px;
border-radius: 10px;
right:16px;


background: #F5F3ED;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
animation: showMain  0.7s;
}

@keyframes showMain {
  from {
    /* top: 65px; */
    margin-top: 70px;
    padding-top:32px;
    padding-bottom:32px;
    opacity: 0%;
  }
  to {
    /* top: 58px; */
    margin-top: 58px;
    padding-top:24px;
    padding-bottom:24px;
    opacity: 100%;
  }
}

.popUpMenuContainer ul {
  display:block;
}

.popUpMenuContainer li {
  margin:8px;
}

.menuContent{
  /* border:1px solid orange; */
  display:flex;
  justify-content: space-between;
  flex-direction:row;
  align-items:center;
  /* position:relative; */
  max-width:1330px;
  margin: auto;
  top:13px;
}


.logoBox{
  /* border:1px solid green; */
  background-image:url(img/DEREVYANSKAYA.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  width:238px;
  min-width:130px;
  height:40px;
}

.itemBox{
  /* border:1px solid red; */
  display: flex;
  /* flex-direction:row; */
  align-items:center;
  /* width:auto; */
  height:40px;
}

ul{
  text-decoration: none;
  display:flex;
  }

li{
  list-style-type: none;
  margin-left: 50px;
  /* margin-top: 10px; */
  }

.mobileMenu{
  /* border:1px solid red; */
  /* display: inline-block; */
  position:relative;
  float:right;
  width:23px;
  height:20px;
  margin-left: 16px;
  z-index:999;
}

.iconMenuOpen{
  background-image:url(img/mobileMenu.svg) !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

.iconMenuClose{
  background-image:url(img/closeIcon.svg) !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

.bgMobileMenu{
  position: absolute;
  width:100vw;
  height:100vh;

  background: rgba(196, 196, 196, 0.5);

  backdrop-filter: blur(10px);
  -moz-backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  -o-backdrop-filter: blur(10px);
  -ms-backdrop-filter: blur(10px);
}

.downMobileMenu{
position:fixed;
z-index:1;
width:50px;
height:50px;
border-radius: 100px;
right:16px;
bottom:16px;
background: #F5F3ED;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
animation: showDownMobileMenu  0.7s;
}


@keyframes showDownMobileMenu {
  from {
    bottom:-16px;
    opacity: 0%;
  }
  to {
    bottom:16px;
    opacity: 100%;
  }
}

@media screen and (max-width: 450px) {


  .popUpMenuContainer{
  /* margin-top: 100px; */
  /* top:0; */
  position: absolute;
  /* margin:auto; */
  text-align: right;
  padding:24px;
  border-radius: 10px;
  right:16px;
  left:16px;
  bottom:85px;


  background: #F5F3ED;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  animation: showMobileMenu  0.7s;
  }

  @keyframes showMobileMenu {
    from {
      bottom:65px;
      padding-top:32px;
      padding-bottom:32px;
      opacity: 0%;
    }
    to {
      bottom: 85px;
      padding-top:24px;
      padding-bottom:24px;
      opacity: 100%;
    }
  }

  .downBtnMenu{
    position: absolute;
    text-align:center;
    padding-top:15px;
    padding-bottom:15px;
    bottom:16px;
    right:82px;
    left:16px;
    background: #F5F3ED;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    animation: showDownBtnMenu 0.7s;
  }

  @keyframes showDownBtnMenu {
    from {
      right:70px;
      left:32px;
      opacity: 0%;
    }
    to {
      right:82px;
      left:16px;
      opacity: 100%;
    }
  }

}

.stickyBox{
  /* border:1px solid red; */
  display:flex;
}

.btnSticky{
  width: 144px;
  height: 32px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url(../popUpBlocks/img/btnSingUp.svg);
}

.stickyMessageBox{
  display: flex;
  flex-direction:row;
  width:180px;
}

.stickyWhatsapp{
  width:30px;
  height:30px;
  background-image:url(../popUpBlocks/img/whatsapp.svg);
  background-size: 98%;
  background-repeat: no-repeat;
}

.stickyTelegram{
  width:30px;
  height:30px;
  background-image:url(../popUpBlocks/img/telegram.svg);
  background-size: 98%;
  background-repeat: no-repeat;
}

.stickyViber{
  width:30px;
  height:32px;
  background-image:url(../popUpBlocks/img/viber.svg);
  background-size: 96%;
  background-repeat: no-repeat;
}
