.menuContainer{
  border:1px solid red;
  height:70px;
  left:0;
  right:0;
}

.menuContent{
  border:1px solid orange;
  display:flex;
  justify-content: space-between;
  position:relative;
  max-width:1330px;
  margin: auto;
  top:13px;
}


.logoBox{
  border:1px solid green;
  background-image:url(img/DEREVYANSKAYA.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  width:216px;
  height:40px;
}

.itemBox{
  border:1px solid red;
  width:400px;
  height:40px;
}
