.CardsNews{
    /* border:1px solid black; */

    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 340px 340px;
    gap:20px;
    /* overflow-x: auto; */
    grid-template-areas: 
    "one one two"
    "three four five";

    width:100%;

    margin-left: 0px;

}


.card-news-one{
    grid-area: one;
}

.card-news-two{
    grid-area: two;
}

.card-news-three{
    grid-area: three;
}

.card-news-four{
    grid-area: four;
}

.card-news-five{
    grid-area: five;
}


@media (max-width: 1440px) {

}

@media (max-width: 1024px) {

    .CardsNews{
        /* border:1px solid black; */
    
        display:grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 340px 340px 340px;
        gap:20px;
        /* overflow-x: auto; */
        grid-template-areas: 
        "one one"
        "two three"
        "four five";
    
        width:100%;

        margin-left: 0px;
    }
    
    

}

@media (max-width: 768px) {

    .CardsNews{
        /* border:1px solid black; */
    
        display:grid;
        grid-template-columns: repeat(5, 80vw);
        grid-template-rows: 340px;
        gap:20px;
        /* overflow-x: auto; */
        grid-template-areas: 
        "one two three four five";
    
        width:100%;

        margin-left: 16px;
    }

}

@media (max-width: 540px) {

}

@media (max-width: 425px) {

}

@media (max-width: 375px) {

}

@media (max-width: 320px) {

} 